<div uk-grid>
  <div class="uk-width-1-4@m">
    <div class="sidenav">
      <ul class="uk-list">
        <li (click)="menu=1"><a class="uk-button uk-button-text">
            Overview
          </a></li>
        <li (click)="menu=2"><a class="uk-button uk-button-text">
            Curriculum
          </a></li>
        <li (click)="menu=3"><a class="uk-button uk-button-text">
            Modules
          </a></li>
        <li (click)="menu=4"><a class="uk-button uk-button-text">
            Trainer Profile
          </a></li>
        <li (click)="menu=5"><a class="uk-button uk-button-text">
            Why Datacams?
          </a></li>
        <li (click)="menu=6"><a class="uk-button uk-button-text">
            What is next
          </a></li>

      </ul>
      <button class="uk-button uk-button-secondary" [routerLink]="[ '/course',{id:-1}]">Add course</button>
    </div>
  </div>
  <div class="uk-width-expand@m" style="padding-left: 0px; height: 100%;">

    <div class="uk-text-center">
      <button class="uk-button uk-button-secondary" (click)="updateCourse()"> save change </button>
      <button class="uk-button uk-button-danger" *ngIf="courseId != -1" (click)="deleteCourse(course)"> delete course
      </button>
    </div>
    <div class="uk-child-width-expand@s" style="align-items: center;" uk-grid>
      <h2 *ngIf="!editName" class="uk-margin">
        {{course.name}}
        <a (click)="editName=true"> <span uk-icon="file-edit"></span></a>
      </h2>
      <div class="uk-margin" *ngIf="editName">
        <input class="uk-input uk-form-width-medium " [(ngModel)]="course.name" type="text" placeholder="course name">
        <a class="uk-margin" (click)="editName=false"> <span uk-icon="check"></span></a>
      </div>

      <div *ngIf="!editImgUrl">
        <img [src]="course.imgUrl" style="height: 200px;" alt="">
        <a (click)="editImgUrl=true"> <span uk-icon="file-edit"></span></a>
      </div>
      <div class="uk-margin" *ngIf="editImgUrl">
        <input class="uk-input uk-form-width-medium " [(ngModel)]="course.imgUrl" type="text" placeholder="img url">
        <a class="uk-margin" (click)="editImgUrl=false"> <span uk-icon="check"></span></a>
      </div>

    </div>

    <ul uk-accordion class="desc-list">
      <li class="uk-open" *ngIf="menu ==1">
        <a class="uk-accordion-title" href="#">Overview</a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.desc">
          </app-ngx-editor>
        </div>
      </li>
      <li class="uk-open" *ngIf="menu ==2">
        <a class="uk-accordion-title" href="#">Curriculum </a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.curriculum">
          </app-ngx-editor>
        </div>
      </li>
      <li class="uk-open" *ngIf="menu ==3">
        <a class="uk-accordion-title" href="#">Modules</a>
        <div class="uk-accordion-content">
          <ul uk-accordion class="desc-list">
            <li *ngFor="let module of course.cModule">
              <a class="uk-accordion-title" href="#">{{module.moduleTite}}</a>
              <div class="uk-accordion-content">
                <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="module.moduleContent">
                </app-ngx-editor>
              </div>
            </li>
          </ul>
          <form class="uk-grid-small" uk-grid>
            <div class="uk-width-3-4@s">
              <input class="uk-input" type="text" placeholder="Module Title" name="title" [(ngModel)]="moduleTite">
            </div>
            <div class="uk-width-1-4@s">
              <button class="uk-button uk-button-secondary" (click)="addModule()">Add module</button>
            </div>
          </form>
          <br><br>
        </div>
      </li>
      <!-- <li>
        <a class="uk-accordion-title" href="#">
          Certification
        </a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.certification">
          </app-ngx-editor>
        </div>
      </li> -->
      <li class="uk-open" *ngIf="menu ==4">
        <a class="uk-accordion-title" href="#"> Trainer Profile</a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.trainerProfile">
          </app-ngx-editor>
        </div>
      </li>
      <li class="uk-open" *ngIf="menu ==5">
        <a class="uk-accordion-title" href="#"> Why Datacams?</a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.whyRadical">
          </app-ngx-editor>
        </div>
      </li>
      <li class="uk-open" *ngIf="menu ==6">
        <a class="uk-accordion-title" href="#"> What is next</a>
        <div class="uk-accordion-content">
          <app-ngx-editor [config]="editorConfig" resizer="basic" [(ngModel)]="course.whatIsNext">
          </app-ngx-editor>
        </div>
      </li>
    </ul>

  </div>
</div>
