.uk-accordion-title {
  background-color: lavender;
  padding: 20px;
}


.uk-form-width-medium {
  width: 400px;
}

.uk-open>a {
  background-color: darkcyan;
  color: #fff;
}

.uk-accordion-content {
  margin-top: 0px;
}

.action-button {
  float: right;
}
